@CHARSET "UTF-8";
#gc_nav{
	float:left;
	margin-left:60px;
	width:900px;
	margin-top:15px;
}
.gc_nav_btn{
	float:left;
	color:#8b1f21;
	cursor:pointer;
	font-size:17px;
	font-weight:bold;
	text-align:left;
	margin-left:30px;
}

.gc_info_block{
	float:left;
	margin-left:90px;
	width:800px;
	line-height:25px;
	border-radius:0px;
	border-bottom:1px solid #b1b1b1;
}
.gc_info_block p{
	margin:8px;
	text-align:left;
}
.gc_info_block p.title{
	font-size:20px;
	color:#8b1f21;
	font-weight:bold;
}