@CHARSET "UTF-8";
.mayknow_block{
	float:left;
	width:880px;
	margin-left:10px;
}
.mayknow_notes{
	float:left;
	width:205px;
	height:100px;
	margin-top:20px;
}
.mayknow_span{
	float:left;
	margin-top:3px;
	width:125px;
	font-size:14px;
	text-align:left;
	display:block;
}
